:root
{
    --primary: #666666;
}

#content .row
{
    padding-bottom: 50px;
}

@keyframes righttoleft
{
    0% {-webkit-transform: translate(120vw); transform: translate(120vw);}
    100% {-webkit-transform: translate(-50vw); transform: translate(-50vw);}
}

#galagapic
{
    position: absolute;
    max-height: var(--navheight);
    /*margin-top: ;*/
    z-index: 0;
    animation-name: righttoleft;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

.spacebg
{
    background: black;
}

@media only screen and (min-width: 600px)
{
    #galagapic
    {
        position: absolute;
        max-height: var(--navheight);
        /*margin-top: 1.5vw;*/
        z-index: 0;
        animation-name: righttoleft;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }
}

@media only screen and (min-width: 768px)
{
    #galagapic
    {
        position: absolute;
        max-height: var(--navheight);
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        /*margin-top: 0.5vw;*/
        z-index: 0;
        animation-name: righttoleft;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }
}